Repository voxpupuli/puppet-icingadb, pull requests merged in 2024-07, with the labels that each got.

#19 Mange missing log_dir for icingadb-redis
  manifests/redis/install.pp
Labels: bug

#20 Release 2.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#21 Release v2.0.1
  metadata.json
Labels: skip-changelog

#23 modulesync 9.1.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#24 Fix missing dependency beween redis package and logdir
  manifests/redis/install.pp
Labels: bug
