Repository voxpupuli/puppet-icingadb, pull requests merged in 2024-09, with the labels that each got.

#33 modulesync 9.2.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#34 modulesync 9.3.0
  .github/workflows/release.yml
  .msync.yml
Labels: modulesync

#36 Add missing database options in class icingadb
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  templates/config.yml.epp
Labels: enhancement

#37 Replace config template by conversion to yaml
  manifests/config.pp
  manifests/globals.pp
  manifests/init.pp
  spec/classes/icingadb_spec.rb
  templates/config.yml.epp
Labels: enhancement

#40 Add new data type for db options
  REFERENCE.md
  manifests/init.pp
  types/dboptions.pp
Labels: enhancement

#39 Add new data type for retention options
  REFERENCE.md
  manifests/init.pp
  types/retentionoptions.pp
Labels: enhancement

#41 Release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#44 fix #35 allow null values in dboptions
  REFERENCE.md
  types/dboptions.pp
Labels: bug

#45 Fix #43 add missing redis module dependency
  metadata.json
Labels: bug
